@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color:  hsl(30, 38%, 92%);
    font-family: 'Fraunces', serif;
    font-size: 14px;
    
}
p{
    color: hsl(228, 12%, 48%);
}
.container{
    width: 45%;
    margin:auto;
    margin-top: 10%;
display: flex;
 }
.container img{
    width: 50%;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   height: 450px;
}
.info{
    width: 300px;
    background-color: white;
    padding-left:  40px;
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.info p {
    padding: 25px 0px 25px 0px;
    font-family: 'Montserrat', sans-serif;
}
.info h1{
    font-size: 31px;
}
.price{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.price p{
    margin-top: -15px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}
.price h1{
    color: hsl(158, 36%, 37%);
}
button{
    background-color: hsl(158, 36%, 37%);
    padding: 12px 53px;
    border: none;
    font-size: 16px;
    font-family: 'Fraunces', serif;
    border-radius: 8px;
    color: white;
    display: flex;
    margin-bottom: 10px;
}
button svg{
    margin-right: 10px;
}
button:hover{
    background-color: hsl(159, 47%, 15%) ;
}
/* responsive design */
@media only screen and (max-width: 750px){
.container{flex-wrap: wrap;}
.container img{width: 90%;}
.info{width: 90%;}
button{width: 90%;padding: 10px 20px;}
}
@media only screen and (max-width: 640px){
    .info{padding-left: 10px;
    padding-right: 10px;
    }
    button svg{
        margin-right: 10px;
    }
    button{
        padding: 10px 55px;
    }
    .info h1{
        font-size: 18px;
    }
    .info{
        width: 90%;
    }
    .container{width: 90%;}
}